<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="flex space-between">
    <div>
      <div style="font-size: 3rem">{{"BOOKSTORE.COM"}}</div>

      <div class="m-tabs">
        <div class="item" *ngFor="let item of listMenu" [class.menu-selected]="item.id==menuSelected" (click)="onClickMenu(item)">{{item.name}}</div>
      </div>

    </div>

    <!-- <div class="m-login">Đăng nhập<div> -->
    <div>
      <div class="m-register" [hidden]="mUser.loginType==3">
        <div class="login-box">
          <ion-input class="user-input" placeholder="Tên Đăng Nhập" type="text" [(ngModel)]="username"></ion-input>
        </div>
        <div class="password-box">
          <ion-input class="user-input" placeholder="Mật Khẩu" type="password" [(ngModel)]="password" (keyup.enter)="onClickLogin()"></ion-input>
        </div>
        <div class="btn-box">
          <button ion-button (click)="onClickLogin()">Đăng nhập</button>
        </div>
      </div>

      <div class="m-account" [hidden]="mUser.loginType!=3" *ngIf="mUser">
        <div class="m-user"> {{mUser.name}} </div>
        <div class="btn-box">
          <button ion-button (click)="onClickLogout()">Đăng xuất</button>
        </div>
      </div>
    </div>
  </div>

</ion-header>


<ion-content>
  <div [hidden]="menuSelected!=0">
    <ion-grid no-padding style="align-items: center">
      <ion-slides (ionSlideDidChange)="slideChanged($event)" autoplay="3000">
        <ion-slide *ngFor="let item of listTitle">
          <div class="cover1" [ngStyle]="{'background-image':'url('+item.thumbnail+')'}">
            <div class="m-title">
              <div class="main-title">{{item.title}}</div>
              <div class="sub-title">{{item.sub_title}}</div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
      <div class="m-dots">
        <div class="m-dot" *ngFor="let item of listTitle" [class.clicked]="item.id==selected" (click)="onClickDot(item)">
        </div>
      </div>
      <ion-row class="m-book">
        <ion-col col-3 *ngFor="let item of listBook">
          <div class="book-item">
            <div class="thumbnail-item" [ngStyle]="{'background-image':'url('+item.thumbnail+')'}"></div>
            <div class="name-item">
              <div>{{item.name}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="cover2" [ngStyle]="{'background-image':'url(./assets/imgs/book2.jpg)'}">
        <div class="m-about">
          <div class="m-about-title">Về chúng tôi</div>
          <div class="m-about-sub"> Website của chúng tôi đem đến cho bạn nhiều sự lựa chọn với nhiều loại thể loại
            sách
            khác nhau: Khoa Học, Văn Học, Sách Giáo Khoa, Anh Ngữ và nhiều thể loại sách khác. Các bạn có thể đến trực
            tiếp cửa hàng hoặc mua hàng qua website, rất mong muốn được phục vụ các bạn.
          </div>
        </div>
      </ion-row>


      <div class="m-new-title">
        <div class="new-title">Bản tin gần đây</div>
        <div class="see-more" (click)="onClickSeeMore()">Xem thêm</div>
      </div>
      <ion-row class="m-new">
        <ion-col col-4 *ngFor="let item of listNew; let i = index">
          <div [class.col-left]="i==0" [class.col-right]="i==2" [class.col-mid]="i==1">
            <div class="new-pic" [ngStyle]="{'background-image':'url('+item.thumbnail+')'}"></div>
            <div class="new-item-title">{{item.title}}</div>
            <div class="new-item-des">{{item.description}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid no-padding>
      <ion-row class="m-footer" [ngStyle]="{'background-image':'url(./assets/imgs/footer-bg.png)'}">
        <ion-col col-6></ion-col>
        <ion-col col-6>
          <div *ngIf="mContact">
            <div padding-top>
              <span class="m-contact">{{mContact.title}}</span>
            </div>
            <div style="font-size: 2rem; padding-top: 16px">{{mContact.address}}</div>
            <div style="font-size: 2rem; padding-top: 16px">{{mContact.phone}}</div>
            <div style="font-size: 2rem; padding-top: 16px">{{mContact.email}}</div>
          </div>
        </ion-col>
        <div class="m-copyright">©2018 Tung Httl</div>
      </ion-row>
    </ion-grid>
  </div>

  <div [hidden]="menuSelected!=1" class="center">
    <div class="width-web">
      <div class="center large-font">Danh sách đơn hàng</div>
      <div>
        <div *ngFor="let item of listOrders" (click)="onClickOrder(item)">{{item.userName}}</div>
      </div>
    </div>
  </div>

  <div [hidden]="menuSelected!=2" class="center">
    <div class="width-web">
      <div class="center large-font">Tủ sách của chúng tôi</div>
      <ion-row>
        <ion-col col-4 *ngFor="let item of listBooks">{{item.name}}</ion-col>
      </ion-row>
    </div>
  </div>

  <div [hidden]="menuSelected!=3" class="center">
    <div class="width-web">
      <div class="center large-font">Tin tức</div>
      <ion-row>
        <ion-col col-4 *ngFor="let item of listNews">
          <div>
            <div class="big-font">{{item.title}}</div>
            <div padding-top class="semi-font">{{item.description}}</div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>