page-profile {
    .m-cover{
        height: 30vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .m-logo{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .edit-cover{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .edit-logo {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}
